<nav>
    <h3>JOE <span> Java of everyone</span></h3>
    <ul>
        <li><a href="/">Link one here</a></li>
        <li><a href="/coffees">Index of coffees</a></li>
        <li> <a href="/">Link two here</a></li>
    </ul>
</nav>