<nav>
   <a href="/"> <h3>JOE <span> Java of everyone</span></h3></a>
    <ul>
        <li><a href="/coffees/new">Add a coffee</a></li>
        <li><a href="/coffees">Index of coffees</a></li>
        <li> <a href="/users/new">Sign up here</a></li>
    </ul>
</nav>