<nav><h3>Bean Base</h3><p>Some clever marketing here</p><ul>
    <li><a href="/">Link one here</a></li>
    <li><a href="/">Link one here</a></li>
    <li>  <a href="/">Link two here</a></li>
</ul></nav>