<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>

    <body>
        <div class="container">
            <%- include ('../partials/nav.ejs') %>
                <h3>Add a coffee</h3>

                <form action="/coffees" method="POST">
                    <div class="row">
                        <div class="columns six">
                            <label for="roaster">Roaster</label>
                            <input class="u-full-width" type="text" name="roaster" id="">
                        </div>
                        <div class="columns six"> <label for="name">Name</label>
                            <input class="u-full-width" type="text" name="name" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <label for="description">Description</label>
                            <textarea class="u-full-width" type="text" name="description" id="description"></textarea>
                        </div>
                        <div class="columns six">
                            <label for="tags">Tags (separate by commas)</label>
                            <input class="u-full-width" type="text" name="tags" id="">
                            <label for="img">Image link</label>
                            <input class="u-full-width" type="text" name="img" id="">
                        </div>
                    </div>
                    <div class="row">
                            <div class="columns four">
                                <label for="">Where was it brewed?</label>
                                <label for="home">
                                    <input type="radio" id="home" name="home" value="home" checked>
                                    <span class="label-body">At home</span>
                                </label>
                                <label for="cafe">
                                    <input type="radio" id="cafe" name="home" value="cafe">
                                    <span class="label-body">Cafe</span>
                                </label>
                                <label for="address">Cafe address</label>
                                <input type="text" name="address" id="" />
                            </div>
                            <div class="columns two">
                                <label for="price">Price</label>
                                <select name="price" id="">
                                    <option value="1" selected>$</option>s
                                    <option value="2">$$</option>
                                    <option value="3">$$$</option>
                                    <option value="4">$$$$</option>
                                </select>
                            </div>
                            <div class="columns two">
                                <label for="">Ground or whole bean?</label>
                                <label for="wholeBean">
                                    <input type="radio" id="wholeBean" name="wholeBean" value="wholeBean" checked>
                                    <span class="label-body">Whole bean</span>
                                </label>
                                <label for="ground">
                                    <input type="radio" id="ground" name="wholeBean" value="ground">
                                    <span class="label-body"> ground</span>
                                </label>

                            </div>
                            <div class="columns two">
                                <label for="grade">Grade</label>
                                <select name="grade">
                                    <option value="0" selected></option>
                                    <option value="13">A+</option>
                                    <option value="12">A</option>
                                    <option value="11">A-</option>
                                    <option value="10">B+</option>
                                    <option value="9">B</option>
                                    <option value="8">B-</option>
                                    <option value="7">C+</option>
                                    <option value="6">C</option>
                                    <option value="5">C-</option>
                                    <option value="4">D+</option>
                                    <option value="3">D</option>
                                    <option value="2">D-</option>
                                    <option value="1">F</option>
                                </select>
                            </div>
                            <div class="columns two">

                                <label>
                                    <input type="checkbox" name="favorite">
                                    <span class="label-body">Favorite</span>
                                  </label>
                               </div>
                        </div>
                        <div class="row">
                            <input class="submit columns six" type="submit" value="Add Coffee">
                        </div>
                </form>
        </div>
    </body>

</html>